[Unit]
Description=Redis persistent key-value database
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/redis-server /etc/redis/redis.master1.conf
PIDFile=/var/run/redis/redis-master-server1.pid
ReadWriteDirectories=-/var/lib/master1
Alias=redis.master1.service

[Install]
WantedBy=multi-user.target

